<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>My Feed</title>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h1>Feed</h1>
    <div  style="margin: 10px" th:each="posts: ${posts}" class="card">
        <div class="card-body">
            <div class="d-flex">
                <img src="https://via.placeholder.com/48" alt="User Avatar" class="rounded-circle me-3" width="48" height="48">
                <div>
                    <h5 class="card-title mb-0"  th:text="${posts.title}"/>
                    <p class="card-text text-muted" th:text="${posts.description}"/>
                </div>
            </div>

            <p class="card-text mt-3"  th:text="${posts.content}"/>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <button class="btn btn-outline-primary"><i class="bi bi-heart"></i> Like</button>
                <button class="btn btn-outline-secondary"><i class="bi bi-chat"></i> Comment</button>
                <button class="btn btn-outline-danger"><i class="bi bi-trash"></i> Delete</button>
            </div>
        </div>
    </div>

    <!-- Phân trang -->
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/newfeeds}" tabindex="totalPages - 1">Previous</a>
            </li>
            <li class="page-item" th:each="pageNo : ${#numbers.sequence(1, totalPages - 1)}">
                <a class="page-link" th:href="@{/newfeeds/?pageNo=__${pageNo}__}"
                   th:class="${pageNo == currentPage} ? 'active page-link' : 'page-link'">
                    <span th:text="${pageNo}"></span>
                    <span th:if="${pageNo == currentPage}" class="sr-only"></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/newfeeds/?pageNo=__${totalPages - 1}__}">Next</a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>
